<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <?php echo $this->headTitle('Projeto Francisca das Chagas')->setSeparator(' - ')->setAutoEscape(false) ?>
    
    <script type="text/javascript">
	<?php if(!empty($this->jsonData)):?>
    	var dataGrafico = <?php echo $this->jsonData;?>;
	<?php else:?>
		var dataGrafico = "";
	<?php endif;?>

	<?php if(!empty($this->jsonPizza)):?>
    	var dataGraficoPizza = <?php echo $this->jsonPizza;?>;
    <?php else:?>
    	var dataGraficoPizza = "";
    <?php endif;?>

	<?php if(!empty($this->tituloGrafico)):?>
		var tituloGrafico = "<?php echo $this->tituloGrafico;?>";
    <?php else:?>
    	var tituloGrafico = "Gráfico";
    <?php endif;?>

    <?php if(!empty($this->tituloY)):?>
    	var tituloY = "<?php echo $this->tituloY;?>";
    <?php else:?>
    	var tituloY = "Total";
    <?php endif;?>

    <?php if(!empty($this->tituloSeries)):?>
    	var tituloSeries = "<?php echo $this->tituloSeries;?>";
    <?php else:?>
    	var tituloSeries = "Total";
    <?php endif;?>
    
    <?php if(!empty($this->jsonLinha)):?>
    	var dataGraficoLinha = <?php echo $this->jsonLinha;?>;
    <?php else:?>
    	var dataGraficoLinha = "";
    <?php endif;?>

    <?php if(!empty($this->arrJsonCategorias)):?>
    	var dataCategorias = <?php echo $this->arrJsonCategorias;?>;
    <?php else:?>
    	var dataCategorias = "";
    <?php endif;?>


    var arrJsonArmaFogo = "";
    <?php if(!empty($this->arrJsonArmaFogo)):?>
    	arrJsonArmaFogo = <?php echo $this->arrJsonArmaFogo;?>;
    <?php endif;?>

    var arrJsonArmaBranca = "";
    <?php if(!empty($this->arrJsonArmaBranca)):?>
    	arrJsonArmaBranca = <?php echo $this->arrJsonArmaBranca;?>;
    <?php endif;?>

    var arrJsonOutrosMeios = "";
    <?php if(!empty($this->arrJsonOutrosMeios)):?>
    	arrJsonOutrosMeios = <?php echo $this->arrJsonOutrosMeios;?>;
    <?php endif;?>

    var arrJsonHomicidioDoloso = "";
    <?php if(!empty($this->arrJsonHomicidioDoloso)):?>
    	arrJsonHomicidioDoloso = <?php echo $this->arrJsonHomicidioDoloso;?>;
    <?php endif;?>

    var arrJsonLatrocinio = "";
    <?php if(!empty($this->arrJsonLatrocinio)):?>
    	arrJsonLatrocinio = <?php echo $this->arrJsonLatrocinio;?>;
    <?php endif;?>

    var arrJsonLesaoCorporal = "";
    <?php if(!empty($this->arrJsonLesaoCorporal)):?>
    	arrJsonLesaoCorporal = <?php echo $this->arrJsonLesaoCorporal;?>;
    <?php endif;?>

    var arrJsonCvli = "";
    <?php if(!empty($this->arrJsonCvli)):?>
    	arrJsonCvli = <?php echo $this->arrJsonCvli;?>;
    <?php endif;?>
    
    </script>

    <!-- Le styles -->
    <?php echo $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->baseUrl() . '/img/favicon.ico'])
        ->prependStylesheet($this->baseUrl('assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css'))
        ->prependStylesheet($this->baseUrl('assets/lib/material-design-icons/css/material-design-iconic-font.min.css'))
        ->appendStylesheet($this->baseUrl('assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css'))
        ->appendStylesheet($this->baseUrl('assets/lib/daterangepicker/css/daterangepicker.css'))
        ->appendStylesheet($this->baseUrl('assets/lib/bootstrap-slider/css/bootstrap-slider.css'))
        ->prependStylesheet($this->baseUrl('assets/css/amvm.css'))
        ->prependStylesheet($this->baseUrl('assets/css/style.css'))
    ?>
    
    <?php echo $this->headScript()
        ->prependFile($this->baseUrl('assets/lib/bootstrap/dist/js/bootstrap.min.js'))
        ->prependFile($this->baseUrl('assets/lib/jquery/jquery.min.js'))
        ->appendFile($this->baseUrl('assets/lib/bootstrap-slider/js/bootstrap-slider.js'))
        ->appendFile($this->baseUrl('assets/lib/moment.js/min/moment.min.js'))
        ->appendFile($this->baseUrl('assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js'))
        ->appendFile($this->baseUrl('assets/lib/daterangepicker/js/daterangepicker.js'))
        ->appendFile($this->baseUrl('assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js'))
        ->appendFile($this->baseUrl('assets/js/main.min.js'))
        ->appendFile($this->baseUrl('assets/js/funcoes.js'));
    ?>
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="be-wrapper be-nosidebar-left">
    <nav class="navbar navbar-default navbar-fixed-top be-top-header">
        <div class="container">
            <div class="navbar-header">
                <a href="<?php echo $this->baseUrl('/');?>" class="navbar-brand topo-main-amvm">
                    <img src="<?php echo $this->baseUrl("/assets/img/logo.png")?>" alt="Logo" style="width: 60px;">
                    <p>Projeto Francisca das Chagas</p>
                </a>
            </div>

            <a href="#" data-toggle="collapse" data-target="#be-navbar-collapse" class="be-toggle-top-header-menu collapsed"></a>
            <div id="be-navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right;">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                    	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Sobre <span class="mdi mdi-caret-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="<?php echo $this->baseUrl('/projeto');?>">O Projeto</a></li>
                          <li><a href="<?php echo $this->baseUrl('/equipe');?>">Equipe</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                    		Mapas <span class="mdi mdi-caret-down"></span>
                		</a>
                        <ul role="menu" class="dropdown-menu">
                        	<li><a href="<?php echo $this->baseUrl('/mapas');?>">Mapas de Incidência</a></li>
                        	<li><a href="<?php echo $this->baseUrl('/mapas/densidade-ocorrencias-ano');?>">Densidade de Ocorrência de Crimes Letais - Por Ano</a></li>
                        	<li><a href="<?php echo $this->baseUrl('/mapas/download');?>">Download ShapeFile do projeto</a></li>
                        	<li><a href="<?php echo $this->baseUrl('/mapas/download');?>">Feminicídio</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Indicadores CVLI <span class="mdi mdi-caret-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvli/bairros');?>">Bairros</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvli/dias-semana');?>">Dias da Semana</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvli/horarios-dia');?>">Por Horário</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvli/ocorrencias-por-mes');?>">Por Mês</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvli/ocorrencias-idade');?>">Ocorrências por Idade</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Indicadores CVNLI <span class="mdi mdi-caret-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvnli/bairros');?>">Bairros</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvnli/dias-semana');?>">Dias da Semana</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvnli/horarios-dia');?>">Por Horário</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvnli/ocorrencias-por-mes');?>">Por Mês</a></li>
                          <li><a href="<?php echo $this->baseUrl('/indicadores-cvnli/ocorrencias-idade');?>">Ocorrências por Idade</a></li>
                        </ul>
                    </li>
                    <li><a href="/noticias">Notícias</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="be-content">
        <div class="container">
            <?php if(!empty($this->messages)):?>
                <?php foreach ($this->messages as $mensagem):?>
                      <div role="alert" class="alert alert-<?php echo $mensagem->tipo;?> alert-dismissible">
                        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                            <span aria-hidden="true" class="mdi mdi-close"></span>
                        </button>
                        <span class="icon mdi <?php echo $mensagem->icone;?>"></span>
                        <?php echo $mensagem->texto;?>
                      </div>
                <?php endforeach;?>
                <?php Core_Controller_Base::apagarMensagens();?>  
            <?php endif;?>
            <?php echo $this->layout()->content ?>
            
            <br />
            <br />
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                    	<div class="panel panel-default">
                    		<div class="panel-body text-center painel-parceiros">
                    			<h3 class="titulo-parceiro">Nossos Parceiros</h3>
                    			
                    			<img src="assets/img/parceiros/imesc.jpg" style="max-width: 300px;" />
                                
                                <img src="assets/img/parceiros/governo.jpg" style="max-width: 300px;" />
                                
                                <br />
                    			
                                <img src="<?php echo $this->baseUrl("assets/img/parceiros/novas/fapema.jpg")?>" />
                                
                                <img src="assets/img/parceiros/mp.jpg" width="80px" />
                                
                                <img src="assets/img/parceiros/novas/lagas.jpg" />
                                
                                <img src="assets/img/parceiros/unb.png" width="80px" />
                                
                                <img src="assets/img/parceiros/unicef.png" width="80px" />
                                
                                <img src="assets/img/parceiros/ppgeo.png" width="80px" />
                                
                                <img src="assets/img/parceiros/novas/governo.jpg" width="300px"  style="max-width: 200px" />
                                
                                <img src="assets/img/parceiros/novas/logo-prefeitura-sao-luis.jpg" width="180px"  style="max-width: 180px" />
                                
                                <img src="assets/img/parceiros/novas/camara-sao-luis.jpg" width="120px"  style="max-width: 120px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>
            		Todos os direitos Reservados &copy; - <?php echo date('Y');?>
            	</p>
			</div>
			<div class="col-md-6">
				<a href="<?php echo $this->baseUrl('/gestor');?>">
            		Acessar área administrativa
            	</a>
			</div>
		</div>
	</div>
</footer>

<?php
echo $this->layout()->scriptTags;
?> 

</body>
</html>


